body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4dfab;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #9f5d00;
    padding: 10px 20px;
    color: white;
}

.izq a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.izq a:hover {
    color: #f4dfab;
}

.centro {
    text-align: center;
    
}

.centro label {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Dancing Script';
    color: #f4dfab;
   

}

.centro label a{
    text-decoration: none;
}

.centro label:hover {
    cursor: pointer;
}

.der {
    text-align: right;
}

.der img {
    border-radius: 0;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
}

.der img:hover {
    cursor: pointer;
}

/*fin header*/

.raya {

    background-color: #954d06;

}

.contenedor {
    display: flex;


    gap: 20px;

    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 70px;
    margin-bottom: 70px;


}

/* Estilos de la card */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    /* Cuatro columnas con espacio entre ellas */
    display: flex;
    flex-direction: column;
}

.card:hover {

    margin-top: -10px;
    /* Mueve la tarjeta hacia arriba */
    margin-bottom: 10px;
    cursor: pointer;
}

/* Imagen de la card */
.card-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    /* La imagen se adapta sin distorsionarse */
}

/* Contenido de la card */
.card-content {
    padding: 20px;
    flex-grow: 1;
}

.card-title {
    font-size: 1.25em;
    margin: 0 0 10px;
}

.card-description {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

/* Botón de la card */
.card-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.card-btn:hover {
    background-color: #0056b3;
}

.top {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.top img {

    height: 100%;

}


.conten-joven {

    display: flex;


    gap: 20px;

    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 100px;



}

.foto-joven {
    width: 100%;
    /* Imagen ocupa el 100% del contenedor .foto-joven */
    position: relative;
    /* Necesario para posicionar el texto sobre la imagen */
    cursor: pointer;
}

.foto-joven img {
    height: 600px;
}

.texto {
    position: absolute;
    top: 90%;
    left: 46%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}


.conten-relax {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 100px;
    cursor: pointer;

}

.foto-relax {
    width: 150%;
    /* Imagen ocupa el 100% del contenedor .foto-joven */
    height: 500px;
}


.foto-relax img {

    height: 100%;

}


.texto-relax {
    margin-left: 450px;

}

.conten-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas: texto a la izquierda, imagen a la derecha */
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 100px;
}


.foto-nosotros img {
    width: 100%;
    /* Ajusta el ancho de la imagen */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

.texto-nosotros {
    padding-right: 20px;
    /* Espaciado entre texto e imagen */

}




/*Aqui comienza el footer*/
.footer {
    background-color: #9f5d00;
    padding: 20px;
    text-align: right;

}

.footer-content {
    margin-bottom: 10px;
}

.footer h3 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #ffffff;
}

.footer p {
    margin: 5px 0;
    color: #ffffff;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}



.footer-cookies {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;

}